.vehicles-list {
    display: flex;
    margin: 0 auto;
    gap: 20px;
}

.vehicles-filter {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 35%;
    padding: 10px;
    border-right: 1px solid #ccc;
}
.filter-container {
    width: 90%;
}

.cars-gallery-container {
    flex-grow: 2;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
}

.vehicles-filter h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #333;
}

.filter-title h3 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}

.input-group {
    display: flex;
    margin-bottom: 10px;
    gap: 10px;
}

.input-wrapper {
    position: relative;
    flex-grow: 1;
}

.input-wrapper input {
    width: 100%;
    padding: 16px 12px 8px 12px;
    font-size: 14px;
    line-height: 1.2;
    color: #333;
    background-color: #fff;
    border: 1.5px solid #BDBDBD;
    border-radius: 8px;
    outline: none;
    box-sizing: border-box;
    transition: border-color 0.2s ease-in-out;
}

.input-wrapper label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    color: #757575;
    pointer-events: none;
    transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #fff;
    white-space: nowrap;
}

.input-wrapper input:focus + label,
.input-wrapper input:not(:placeholder-shown) + label {
    top: 10%;
    left: 40%;
    font-size: 10px;
    color: #D74500;
    padding: 0 4px;
}

.input-wrapper input:focus {
    border-color: #D74500;
}

.input-wrapper input::placeholder {
    color: transparent;
}

.input-wrapper input[type="number"]::-webkit-outer-spin-button,
.input-wrapper input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.input-wrapper input[type="number"] {
    -moz-appearance: textfield;
}